<h1>Tamagotchi Death Simulator</h1>
<br>

<form action="/tamagotchi" method="get">
  <div class="form-group">
    <label for="pet_name">Name your Tamagotchi!</label>
    <input type="text" id="pet_name" name="pet_name" class="form-control">
  </div>
  <button type="submit" id="name_tamagotchi" class="btn-primary">Name my Tamagotchi</button>
</form>
